<head>
<style>

h1 {
    color: navy;
    margin-left: 20px;
}

body {
	background: lightblue;
	height: 500px;
	width: 80%;
	margin: auto;
}

#header {
   background: white;
   height: 200px;
   width: 80%;
   margin: auto;
}

#footer {
   background: black;
   height: 200px;
   width: 80%;
   margin: auto;
}

</style>
</head>