<head>
<style>

container {
    display:flex; 
    flex-direction: column; 
    text-align:center;
}

body {
	order: 2;
	background: lightblue;
	height: 500px;
	width: 80%;
	margin: auto;
	border-style: solid;
    border-width: 5px;
}

#header {
	order: 1;
   	background: white;
   	height: 100px;
   	width: 80%;
   	margin: auto;
   	border-style: solid;
   	border-width: 5px;
}

#footer {
	order: 3;
  	background: black;
   	height: 100px;
   	width: 80%;
   	margin: auto;
   	border-style: solid;
   	border-width: 5px;
}

</style>
</head>