/*I am using LESS and Xtext to make this CSS file dynamically have variables.*/
body {
  background: darkgray;
  height: 100%;
  width: 100%;
  display: inline;
}
img {
  max-width: 250px;
  max-height: 250px;
}
#text-large {
  font-size: 40px;
  margin: 0;
}
#center {
  background-color: white;
  border-style: double;
  border-width: 2px;
  width: 70%;
  height: 75%;
  margin: auto;
  display: block;
  align: center;
  overflow: auto;
}
#header {
  background-color: lightgray;
  border-style: solid;
  border-width: 2px;
  width: 70%;
  height: 100px;
  margin: auto;
  display: flex;
}
#headerLink {
  size: 25px;
  color: black;
  text-decoration: none;
  margin: 0px 20px 0px 20px;
}
#footer {
  background-color: lightgray;
  border-style: solid;
  border-width: 2px;
  width: 70%;
  height: 100px;
  margin: auto;
  display: flex;
}
#home-center {
  background-color: white;
  width: 100%;
  height: 800px;
  margin: auto;
  display: inline-block;
}
#home-right {
  width: 70%;
  height: 100%;
  float: right;
}
#home-left {
  width: 30%;
  height: 100%;
  float: left;
  align-content: center;
}
#repository-div {
  width: 80%;
  height: 15%;
  border-style: solid;
  border-width: 2px;
}
#repository-center {
  background-color: white;
  width: 100%;
  height: 800px;
  margin: auto;
}
#gallery-div {
  width: 100%;
  height: 100%;
}
#image-wrapper {
  max-width: 250px;
  max-height: 250px;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
