/*I am using LESS and Xtext to make this CSS file dynamically have variables.*/

@standard-height: 100px;
@relative-width: 80%;

@margin: auto;
	
@color-layer-one: blue;
@color-layer-two: darkgray;
@color-layer-three: white;


body {
	background: @color-layer-one;
}

div {
	display: block;
}

.container {
    position: fixed;
}

.center {
	background-color: @color-layer-two;
	height: 500px;
	width: 80%;
	margin: @margin;
	border-style: solid;
    border-width: 5px;
	position: absolute;
	top: 130px;
	left: 0;
}

.header {
   	background-color: @color-layer-two;
   	height: @standard-height;
   	width: 80%;
   	margin: @margin;
   	border-style: solid;
   	border-width: 5px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.footer {
  	background-color: @color-layer-two;
   	height: @standard-height;
   	width: 80%;
   	margin: @margin;
   	border-style: solid;
   	border-width: 5px;
	order: 3;
}
