/*I am using LESS and Xtext to make this CSS file dynamically have variables.*/
body {
  background: black;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.center {
  background: darkgray;
  height: 500px;
  width: 80%;
  margin: auto;
  border-style: solid;
  border-width: 5px;
  order: 2;
}
.header {
  background: darkgray;
  height: 100px;
  width: 80%;
  margin: auto;
  border-style: solid;
  border-width: 5px;
  order: 1;
}
.footer {
  background: darkgray;
  height: 100px;
  width: 80%;
  margin: auto;
  border-style: solid;
  border-width: 5px;
  order: 3;
}
