/*I am using LESS and Xtext to make this CSS file dynamically have variables.*/

@standard-height: 100px;
@relative-width: 60%;
@margin: auto;
@color-layer-one: gray;
@color-layer-two: darkgray;
@color-layer-three: white;

body {
	background: @color-layer-one;
	height: 100%;
	width: 100%;
	display: inline;
}

#center {
	background-color: @color-layer-one;
	border-style: solid;
	border-width: 5px;
	width: @relative-width;
	height: 800px;
	margin: @margin;
	display: block;
}

#header {
	background-color: @color-layer-two;
	border-style: solid;
	border-width: 5px;
	width: @relative-width;
	height: @standard-height;
	margin: @margin;
	display: block;
}

#footer {
	background-color: @color-layer-three;
	border-style: solid;
	border-width: 5px;
	width: @relative-width;
	height: @standard-height;
	margin: @margin;
	display: block;
}

