/*I am using LESS and Xtext to make this CSS file dynamically have variables.*/

@standard-height: 100px;
@center-height: 800px;
@relative-width: 70%;
@margin: auto;
@margin-25: 0px 25px 0px 25px;
@large-font-size: 30px;
@standard-boarder-size: 2px;
@color-layer-one: darkgray;
@color-layer-two: lightgray;
@color-layer-three: white;
@color-text-one: black;
body {
	background: @color-layer-one;
	height: 100%;
	width: 100%;
	display: inline;
}

p {
	font-size: @large-font-size;
	margin: 0;
}

#center {
	background-color: @color-layer-three;
	border-style: double;
	border-width: @standard-boarder-size;
	width: @relative-width;
	height: @center-height;
	margin: @margin;
	display: block;
}

#header {
	background-color: @color-layer-two;
	border-style: solid;
	border-width: @standard-boarder-size;
	width: @relative-width;
	height: @standard-height;
	margin: @margin;
	display: block;
}

#headerLink {
	color: @color-text-one;
	text-decoration: none;
	margin: @margin-25;
}

#footer {
	background-color: @color-layer-two;
	border-style: solid;
	border-width: @standard-boarder-size;
	width: @relative-width;
	height: @standard-height;
	margin: @margin;
	display: block;
}

#home-center {
	background-color: @color-layer-three;
	width: @relative-width;
	height: @center-height;
	margin: @margin;
	display: inline-block;
}

#home-right {
	border-style: solid;
	border-width: @standard-boarder-size;
	width: 70%;
	height: 100%;
	background-color: #ff0000;
	float: right;
}

#home-left {
	height: 100%;
	border-style: solid;
	border-width: @standard-boarder-size;
	float: left;
	width: 30%;
}

